$def with (respuesta={})
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle Persona</title>
</head>
<body>
    <h1>Detalle de Persona</h1>

    $if respuesta["error"] is not None:
        <p><strong>$respuesta["error"]</strong></p>
    $else:
        <ul>
            <li><strong>ID:</strong> $respuesta["persona"][0]</li>
            <li><strong>Nombre:</strong> $respuesta["persona"][1]</li>
            <li><strong>Email:</strong> $respuesta["persona"][2]</li>
        </ul>

    <a href="/">Volver al listado</a>
</body>
</html>
