$def with(persona)
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle Persona</title>
</head>
<body>
    <h1>Detalle de Persona</h1>
    <form>
        <label>ID</label><br>
        <input type="text" value="$persona['id']" readonly><br><br>

        <label>Nombre</label><br>
        <input type="text" value="$persona['nombre']" readonly><br><br>

        <label>Email</label><br>
        <input type="text" value="$persona['email']" readonly><br><br>
    </form>
    <a href="/">Volver al listado</a>
</body>
</html>
